<% new_thread_dislike = NewThread.find(new_thread_id) %>
<%= div_for(@new_thread, class: "dislike-count") do %>
  <span itemprop="downvoteCount"><%= new_thread_dislike.dislike_counts.size %></span>
<% end %>
