/* line 4, /home/addie/for/app/assets/stylesheets/activities.css.scss */
.activity {
  padding: 16px 0;
  font-size: 1.4em;
}
/* line 6, /home/addie/for/app/assets/stylesheets/activities.css.scss */
.activity em {
  color: #777;
  padding-left: 5px;
}

/* line 13, /home/addie/for/app/assets/stylesheets/activities.css.scss */
.activity-wrapper {
  margin: 65px 0px 0px 4%;
  float: left;
}

/* line 17, /home/addie/for/app/assets/stylesheets/activities.css.scss */
.act-img {
  margin: 90px 0px 403px 40px;
}

/* line 20, /home/addie/for/app/assets/stylesheets/activities.css.scss */
.user-name {
  margin: 70px 0px 0px -7.5%;
  float: left;
  font-size: 1.5em;
}

/* line 25, /home/addie/for/app/assets/stylesheets/activities.css.scss */
.circle1 {
  width: 10px;
  height: 10px;
  background: #909090;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  position: absolute;
  margin: 3px 0px 0px -1.5%;
}
html{
    height: 100%;
    overflow-x: hidden;
}

.curtains{
    width: 100%;
    position:relative;
   }

.curtains>li{
    -webkit-transform:translateZ(0);
    background: white;
    position: fixed;
    display:block;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100%;
    overflow: hidden;
    z-index:10;
}
.curtains>li.hidden{display:none;}
.curtains>li:first-child{z-index:2;}
#section-1{
     background:url(book1.jpg) 50% 0 no-repeat;
    background-size: 100% 655px;
}
 #section-1 header{
  font-family: Rockwell, "Courier Bold", Courier, Georgia, Times, "Times New Roman", serif;
  color : white;
  text-align:center;
   margin:50px 0px 0px 24%;
   display: inline-block;
   z-index:3;
   text-shadow: 
    0 1px 0 #909090,
    0 2px 0 #909090,
    0 3px 0 #909090,
    0 4px 0 #909090,
     3px 8px 15px rgba(0,0,0,0.1),
    3px 8px 5px rgba(0,0,0,0.3);;
    }

    #section-1 h1{
        font-size:120px;
    }

    #section-1 h2{
        opacity:.75;
    }
/* line 4, /home/addie/for/app/assets/stylesheets/flags.css.scss */
.flags-wrapper {
  margin: 80px 0px 20px 2%;
  font-size: 1.7em;
}

/* line 8, /home/addie/for/app/assets/stylesheets/flags.css.scss */
.flag-header {
  font-size: 1.1em;
  font-weight: bold;
  border-bottom: 1px solid black;
  padding: 0px 5px 0px 5px;
}

/* line 14, /home/addie/for/app/assets/stylesheets/flags.css.scss */
td.destroy_flag {
  width: 100px;
  padding-right: 20px !important;
}

/* line 18, /home/addie/for/app/assets/stylesheets/flags.css.scss */
tr.destroy_flag {
  border-bottom: 1px solid black;
}

/* line 21, /home/addie/for/app/assets/stylesheets/flags.css.scss */
.search-wrapper {
  margin: 100px 0px 580px 4%;
}

/* line 24, /home/addie/for/app/assets/stylesheets/flags.css.scss */
.blocked-wrapper {
  margin: 100px 0px 176px 4%;
}
/* line 4, /home/addie/for/app/assets/stylesheets/new_threads.css.scss */
.line-up {
  border: 0;
  height: 2px;
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0), rgba(255, 255, 255, 0.75), rgba(0, 0, 0, 0));
  background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0), rgba(255, 255, 255, 0.75), rgba(0, 0, 0, 0));
  background-image: -ms-linear-gradient(left, rgba(0, 0, 0, 0), rgba(255, 255, 255, 0.75), rgba(0, 0, 0, 0));
  background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0), rgba(255, 255, 255, 0.75), rgba(0, 0, 0, 0));
}

/* line 14, /home/addie/for/app/assets/stylesheets/new_threads.css.scss */
.line {
  border: 0;
  height: 2px;
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0), rgba(255, 255, 255, 0.75), rgba(0, 0, 0, 0));
  background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0), rgba(255, 255, 255, 0.75), rgba(0, 0, 0, 0));
  background-image: -ms-linear-gradient(left, rgba(0, 0, 0, 0), rgba(255, 255, 255, 0.75), rgba(0, 0, 0, 0));
  background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0), rgba(255, 255, 255, 0.75), rgba(0, 0, 0, 0));
  width: 52%;
}

/* line 23, /home/addie/for/app/assets/stylesheets/new_threads.css.scss */
.welcome {
  font-size: 2.2em;
  font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  margin: 100px 40px 20px 40px;
  float: left;
  text-align: center;
  color: #f8f8f8;
}

/* line 32, /home/addie/for/app/assets/stylesheets/new_threads.css.scss */
.welcome-text {
  margin: 0px 0px 0px 5%;
  width: 90%;
}

/* line 37, /home/addie/for/app/assets/stylesheets/new_threads.css.scss */
.cool-line {
  color: white;
  position: relative;
  width: 100%;
  height: 48px;
  overflow: hidden;
  margin: 0 auto;
  border: 0;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
}

/* line 46, /home/addie/for/app/assets/stylesheets/new_threads.css.scss */
.cool-line:before {
  content: '';
  width: 90%;
  height: 30px;
  left: 5%;
  position: absolute;
  z-index: 50;
  border-radius: 0 0 100% 100% / 0 0 174% 174%;
  box-shadow: 0 0 9px 6px rgba(0, 0, 0, 0.28);
}

/* line 54, /home/addie/for/app/assets/stylesheets/new_threads.css.scss */
.power {
  float: left;
  font-size: 1.2em;
  color: white;
  margin: 0px 0px -20px -45px;
}

/* line 60, /home/addie/for/app/assets/stylesheets/new_threads.css.scss */
.mntc-logo {
  width: 100px;
  float: right;
  margin: 10px 0px 0px 0px;
  color: white;
}

/* line 66, /home/addie/for/app/assets/stylesheets/new_threads.css.scss */
.mntc-logo-pic {
  height: 100px;
  float: right;
}

/* line 71, /home/addie/for/app/assets/stylesheets/new_threads.css.scss */
.new {
  height: 25px;
  padding-top: 8px !important;
  background-color: #000000 !important;
  text-shadow: 0 1px 0 #009933 !important;
  margin: 70px 10px 10px 40px !important;
  float: left !important;
}

/* line 79, /home/addie/for/app/assets/stylesheets/new_threads.css.scss */
.new:hover {
  background-color: #383838 !important;
}

/* line 80, /home/addie/for/app/assets/stylesheets/new_threads.css.scss */
.thread-whole {
  font-size: 1.5em;
  margin: 250px 20px 20px 40px;
  padding: 0px 0px 20px 0px;
}

/* line 87, /home/addie/for/app/assets/stylesheets/new_threads.css.scss */
.thread-welcome {
  color: #484848;
  text-align: left;
  margin: 10px 20px 0px 40px;
}

/* line 92, /home/addie/for/app/assets/stylesheets/new_threads.css.scss */
.recent {
  float: left;
  font-size: 2em;
  margin: 50px 0px 20px 40px;
}

/* line 99, /home/addie/for/app/assets/stylesheets/new_threads.css.scss */
.speech-bubble {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  margin: 0px 0px 0px 25px;
  display: inline-block;
  width: 85%;
  border: 1px solid #d1d1d1;
  background-color: white;
}

/* line 111, /home/addie/for/app/assets/stylesheets/new_threads.css.scss */
.triangle {
  height: 30px;
  width: 20px;
  margin: 15px 0px 0px 10px;
  float: left;
  position: absolute;
}

/* line 119, /home/addie/for/app/assets/stylesheets/new_threads.css.scss */
.user-thread {
  font-size: 1.5em;
  color: black;
  float: right;
  display: inline-block;
  margin: -25px 10px 2px 0px;
}

/* line 127, /home/addie/for/app/assets/stylesheets/new_threads.css.scss */
td {
  font-size: 1.3em !important;
  padding: 5px 5px 2px 5px !important;
}

/* line 131, /home/addie/for/app/assets/stylesheets/new_threads.css.scss */
.like {
  border-right: 1px solid #d1d1d1;
  padding: 0px 10px 0px 0px;
}

/* line 135, /home/addie/for/app/assets/stylesheets/new_threads.css.scss */
.like-bu {
  border: 0px;
  background-color: white;
  font-family: "Lucida Sans Typewriter", "Lucida Console", Monaco, "Bitstream Vera Sans Mono", monospace;
  font-size: 0.8em;
  color: #33CC33;
}

/* line 142, /home/addie/for/app/assets/stylesheets/new_threads.css.scss */
.like-bu:hover {
  text-decoration: underline;
}

/* line 143, /home/addie/for/app/assets/stylesheets/new_threads.css.scss */
.flag-icon {
  color: #000000;
}

/* line 146, /home/addie/for/app/assets/stylesheets/new_threads.css.scss */
.dis {
  color: #C00000 !important;
}

/* line 149, /home/addie/for/app/assets/stylesheets/new_threads.css.scss */
.info {
  border-top: 1px solid #d1d1d1;
}

/* line 153, /home/addie/for/app/assets/stylesheets/new_threads.css.scss */
.show-thread {
  font-size: 1.4em;
  color: black;
  font-weight: bold;
  padding: 15px 0px 0px 20px;
  float: left;
}

/* line 161, /home/addie/for/app/assets/stylesheets/new_threads.css.scss */
.show-thread:hover {
  color: #787878;
}

/* line 162, /home/addie/for/app/assets/stylesheets/new_threads.css.scss */
.time {
  float: right;
  margin: 0px 15px 0px 0px;
}

/* line 167, /home/addie/for/app/assets/stylesheets/new_threads.css.scss */
.description {
  font-size: 1.2em;
  color: black;
  padding: 15px 0px 0px 20px;
}

/* line 176, /home/addie/for/app/assets/stylesheets/new_threads.css.scss */
.thread-replies {
  font-size: 1.5em;
  margin: 130px 20px 40px 40px;
}

/* line 182, /home/addie/for/app/assets/stylesheets/new_threads.css.scss */
.thread-link {
  font-size: 0.8em;
  color: #707070;
  float: right;
  margin: -20px 0px 10px 10px;
  padding: 0px 15px 0px 0px;
}

/* line 190, /home/addie/for/app/assets/stylesheets/new_threads.css.scss */
.activator {
  border-right: 1px solid #d1d1d1;
}

/* line 193, /home/addie/for/app/assets/stylesheets/new_threads.css.scss */
.activator-title {
  border-right: 1px solid #d1d1d1;
}

/* line 196, /home/addie/for/app/assets/stylesheets/new_threads.css.scss */
.reply-whole {
  font-size: 1.5em;
  margin: 0px 0px 0px 150px;
}

/* line 201, /home/addie/for/app/assets/stylesheets/new_threads.css.scss */
.speech-reply {
  width: 82% !important;
}

/* line 205, /home/addie/for/app/assets/stylesheets/new_threads.css.scss */
.reply-user {
  font-size: 1.4em;
  color: black;
  font-weight: bold;
  padding: 15px 0px 0px 20px;
  float: left;
}

/* line 213, /home/addie/for/app/assets/stylesheets/new_threads.css.scss */
.reply-link {
  color: #707070;
  font-size: 0.8em;
  padding: 0px 15px 0px 0px;
}

/* line 218, /home/addie/for/app/assets/stylesheets/new_threads.css.scss */
.reply-edit {
  display: inline-block;
  float: right;
}

/* line 222, /home/addie/for/app/assets/stylesheets/new_threads.css.scss */
.reply-info {
  display: inline-block;
}

/* line 226, /home/addie/for/app/assets/stylesheets/new_threads.css.scss */
#reply_content {
  width: 60%;
  height: 100px;
  margin: 30px 0px 30px 275px;
  display: inline-block;
  -moz-border-radius: 12px;
  -webkit-border-radius: 12px;
  border-radius: 12px;
}

/* line 235, /home/addie/for/app/assets/stylesheets/new_threads.css.scss */
.reply-but {
  font-size: 2em;
  color: black;
  display: inline-block;
  margin: 0px 0px 30px 275px;
  background: #000000;
  color: #ffffff;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
}

/* line 248, /home/addie/for/app/assets/stylesheets/new_threads.css.scss */
.thread-header {
  font-size: 3em;
  color: #080808;
  margin: 40px 0px 40px 2.2%;
  display: inline-block;
}

/* line 255, /home/addie/for/app/assets/stylesheets/new_threads.css.scss */
.reply-header {
  font-size: 3em;
  color: #080808;
  margin: 40px 0px 40px 50px;
}

/* line 261, /home/addie/for/app/assets/stylesheets/new_threads.css.scss */
.n-thread {
  font-size: 2em;
  color: #080808;
  margin: 20px 0px 0px 230px;
}

/* line 268, /home/addie/for/app/assets/stylesheets/new_threads.css.scss */
#new_thread_title {
  width: 250%;
  height: 25px;
  font-size: 1.2em;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
}

/* line 277, /home/addie/for/app/assets/stylesheets/new_threads.css.scss */
#new_thread_description {
  width: 70%;
  height: 300px;
  font-size: 1.2em;
  margin: 10px 0px 0px 0px;
  -moz-border-radius: 12px;
  -webkit-border-radius: 12px;
  border-radius: 12px;
}

/* line 287, /home/addie/for/app/assets/stylesheets/new_threads.css.scss */
.post {
  margin: 20px 0px 30px 62% !important;
  width: 100px;
}

/* line 292, /home/addie/for/app/assets/stylesheets/new_threads.css.scss */
.no-reply {
  display: inline-block;
  font-size: 1.9em;
  margin: 0px 0px 0px 10px;
}

/* line 298, /home/addie/for/app/assets/stylesheets/new_threads.css.scss */
#section-2 {
  background-color: #ffffff !important;
}

/* line 302, /home/addie/for/app/assets/stylesheets/new_threads.css.scss */
.other-user {
  margin: 60px 25px 0px 0px !important;
}

/* line 305, /home/addie/for/app/assets/stylesheets/new_threads.css.scss */
.other-img {
  margin: 57px 10px 0px 0px !important;
}

/* line 308, /home/addie/for/app/assets/stylesheets/new_threads.css.scss */
.user-tag {
  width: 20px;
  height: 31px;
  margin: -10px 10px -7px 0px;
}

/* line 313, /home/addie/for/app/assets/stylesheets/new_threads.css.scss */
.tag {
  background-color: #333;
  font-size: 0.6em;
  padding: 3px 5px 4px 5px;
  display: inline-block;
  color: #fff;
  border-radius: 2px 0px 0px 2px;
}

/* line 321, /home/addie/for/app/assets/stylesheets/new_threads.css.scss */
.td-tag2 {
  padding: 0px !important;
}

/* line 324, /home/addie/for/app/assets/stylesheets/new_threads.css.scss */
.td-tag {
  padding: 0px !important;
}

/* line 327, /home/addie/for/app/assets/stylesheets/new_threads.css.scss */
.table-tag {
  display: inline-block;
  margin: -9px -4px -2px 0px;
}

/* line 332, /home/addie/for/app/assets/stylesheets/new_threads.css.scss */
.post-thread {
  margin: 80px 0px 0px 30px;
}

/* line 335, /home/addie/for/app/assets/stylesheets/new_threads.css.scss */
p.post-thread {
  font-size: 1.8em;
}

/* line 338, /home/addie/for/app/assets/stylesheets/new_threads.css.scss */
.new-form {
  width: 70% !important;
}
/* line 4, /home/addie/for/app/assets/stylesheets/pages.css.scss */
.questions-wrapper, .badges-wrapper {
  margin: 100px 3% 40px 3%;
  font-size: 1.7em !important;
}

/* line 9, /home/addie/for/app/assets/stylesheets/pages.css.scss */
.how-to {
  margin: 20px 0px 10px 0px;
  font-size: 1.7em;
  color: #404040;
}

/* line 14, /home/addie/for/app/assets/stylesheets/pages.css.scss */
.how-c {
  margin: 6px 0px 0px -1.2% !important;
}

/* line 17, /home/addie/for/app/assets/stylesheets/pages.css.scss */
.earn-points {
  list-style-type: square;
  margin-left: 2%;
}
/* line 15, /home/addie/for/app/assets/stylesheets/scaffolds.css.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
}

/* HTML5 display-role reset for older browsers */
/* line 26, /home/addie/for/app/assets/stylesheets/scaffolds.css.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 29, /home/addie/for/app/assets/stylesheets/scaffolds.css.scss */
body {
  line-height: 1;
}

/* line 32, /home/addie/for/app/assets/stylesheets/scaffolds.css.scss */
ol, ul {
  list-style: none;
}

/* line 35, /home/addie/for/app/assets/stylesheets/scaffolds.css.scss */
blockquote, q {
  quotes: none;
}

/* line 39, /home/addie/for/app/assets/stylesheets/scaffolds.css.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 43, /home/addie/for/app/assets/stylesheets/scaffolds.css.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 53, /home/addie/for/app/assets/stylesheets/scaffolds.css.scss */
body {
  color: #666;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-size: 62.5%;
}

/* line 66, /home/addie/for/app/assets/stylesheets/scaffolds.css.scss */
h2.mntc {
  font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
  color: white;
  font-size: 2.8em;
  letter-spacing: 17px;
  margin: 0px 0px 0px 20px;
}

/* line 75, /home/addie/for/app/assets/stylesheets/scaffolds.css.scss */
.icon {
  margin: 45px 0px 0px 45px;
}

/* line 81, /home/addie/for/app/assets/stylesheets/scaffolds.css.scss */
.circle2 {
  width: 160px;
  height: 160px;
  background: gray;
  -moz-border-radius: 80px;
  -webkit-border-radius: 80px;
  border-radius: 80px;
  z-index: 2;
  position: absolute;
  margin: 35px 0px 0px 35px;
}

/* line 93, /home/addie/for/app/assets/stylesheets/scaffolds.css.scss */
.circle3 {
  width: 200px;
  height: 200px;
  background: #F0F0F0;
  -moz-border-radius: 100px;
  -webkit-border-radius: 100px;
  border-radius: 100px;
  z-index: 1;
  position: absolute;
  margin: 15px 0px 0px 15px;
}

/* line 106, /home/addie/for/app/assets/stylesheets/scaffolds.css.scss */
.cap {
  z-index: 5;
  position: absolute;
  margin: 40px 0px 0px 35px;
}

/* line 113, /home/addie/for/app/assets/stylesheets/scaffolds.css.scss */
.big-wrapper {
  background-color: #F8F8F8;
  width: 100%;
  float: left;
}

/* line 119, /home/addie/for/app/assets/stylesheets/scaffolds.css.scss */
#header {
  background-color: #E0E0E0;
  width: 100%;
  height: 40px;
  border-bottom: 2px solid #b0b0b0;
  border-top: 2px solid #b0b0b0;
  position: fixed;
  z-index: 2;
  top: 0px;
  right: 0px;
}

/* line 131, /home/addie/for/app/assets/stylesheets/scaffolds.css.scss */
.navbar-link {
  color: white;
  text-decoration: none;
  float: right;
  margin: 8px 10px 10px 10px;
  text-shadow: 0 1px 0 #080808;
  background-color: #a0a0a0;
  border-color: #300000;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  font-size: 1.8em;
  padding: 2px 10px 2px 10px;
}

/* line 147, /home/addie/for/app/assets/stylesheets/scaffolds.css.scss */
.other {
  background-color: #505050;
}

/* line 152, /home/addie/for/app/assets/stylesheets/scaffolds.css.scss */
.user {
  font-size: 2.5em;
  color: black;
  float: right;
  margin: 80px 20px 10px 0px;
}

/* line 160, /home/addie/for/app/assets/stylesheets/scaffolds.css.scss */
.user-img {
  width: 32px;
  height: 28px;
  border-radius: 3px;
  float: right;
  margin: 78px 0.5% 0px 0px;
}

/* line 169, /home/addie/for/app/assets/stylesheets/scaffolds.css.scss */
.navbar-bar {
  font-size: 2em;
  color: black;
  float: left;
  margin: 0px 10px 10px 10px;
}

/* line 175, /home/addie/for/app/assets/stylesheets/scaffolds.css.scss */
.navbar-bar:hover {
  color: #787878;
}

/* line 177, /home/addie/for/app/assets/stylesheets/scaffolds.css.scss */
.search {
  width: 200px;
  height: 30px;
  display: inline-block;
  float: left;
  margin: -5px 10px 0px 10px;
}

/* line 188, /home/addie/for/app/assets/stylesheets/scaffolds.css.scss */
#search input[type="text"] {
  background: url(search.png) no-repeat 10px 6px #fcfcfc;
  background-size: 15px 15px;
  border: 1px solid #d1d1d1;
  font: bold 12px Arial,Helvetica,Sans-serif;
  color: #bebebe;
  width: 150px;
  padding: 6px 15px 6px 35px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  text-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
  -webkit-transition: all 0.7s ease 0s;
  -moz-transition: all 0.7s ease 0s;
  -o-transition: all 0.7s ease 0s;
  transition: all 0.7s ease 0s;
}

/* line 209, /home/addie/for/app/assets/stylesheets/scaffolds.css.scss */
#search input[type="text"]:focus {
  width: 200px;
}

/* line 214, /home/addie/for/app/assets/stylesheets/scaffolds.css.scss */
#footer {
  width: 100%;
  height: 40px;
  float: left;
  position: absolute;
}

/* line 220, /home/addie/for/app/assets/stylesheets/scaffolds.css.scss */
.all-foot {
  z-index: 0 !important;
  position: relative !important;
  height: 63px !important;
}

/* line 225, /home/addie/for/app/assets/stylesheets/scaffolds.css.scss */
.u-list {
  height: 58px !important;
}

/* line 229, /home/addie/for/app/assets/stylesheets/scaffolds.css.scss */
pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

/* line 237, /home/addie/for/app/assets/stylesheets/scaffolds.css.scss */
#notice {
  color: green;
}

/* line 241, /home/addie/for/app/assets/stylesheets/scaffolds.css.scss */
.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

/* line 247, /home/addie/for/app/assets/stylesheets/scaffolds.css.scss */
#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}
/* line 254, /home/addie/for/app/assets/stylesheets/scaffolds.css.scss */
#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff;
}
/* line 264, /home/addie/for/app/assets/stylesheets/scaffolds.css.scss */
#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}

/* line 269, /home/addie/for/app/assets/stylesheets/scaffolds.css.scss */
div.pagination {
  font-size: 1.2em;
  font-family: Tahoma, Arial, Helvetica, Sans-serif;
  background-color: #3e3e3e;
  color: #fff;
  height: 40px;
  padding: 3px 0px 0px 10px;
  width: 104%;
  margin: -20px 0px 15px -40px;
}

/* line 280, /home/addie/for/app/assets/stylesheets/scaffolds.css.scss */
div.pagination a {
  padding: 2px 5px 2px 5px;
  margin: 2px;
  background-color: #3e3e3e;
  text-decoration: none;
  /* no underline */
  color: #fff;
  font-size: 1.2em;
}

/* line 288, /home/addie/for/app/assets/stylesheets/scaffolds.css.scss */
div.pagination a:hover, div.pagination a:active {
  background-color: #ec5210;
  color: #fff;
}

/* line 292, /home/addie/for/app/assets/stylesheets/scaffolds.css.scss */
div.pagination span.current {
  padding: 2px 5px 2px 5px;
  margin: 2px;
  font-weight: bold;
  background-color: #313131;
  color: #fff;
}

/* line 299, /home/addie/for/app/assets/stylesheets/scaffolds.css.scss */
div.pagination span.disabled {
  padding: 2px 5px 2px 5px;
  margin: 2px;
  background-color: #3e3e3e;
  color: #868686;
}

/* line 306, /home/addie/for/app/assets/stylesheets/scaffolds.css.scss */
.page_info {
  height: 20px;
  font-size: 1em;
  padding: 3px 0px 0px 10px;
}

/* line 313, /home/addie/for/app/assets/stylesheets/scaffolds.css.scss */
.alert {
  font-size: 1em;
  text-align: center;
}
@import url(http://fonts.googleapis.com/css?family=Capriola);
/* Let's import the lovely google font, please keep this line at the top of your stylesheet */
/* Menu CSS */




#cssmenu,
#cssmenu ul,
#cssmenu ul li,
#cssmenu ul li a {
  padding: 0;
  margin: 0;
  line-height: 1;
  font-family: 'Capriola', sans-serif;
  
}
#cssmenu{
  position: fixed;
  z-index:2;
  background-color: white !important;
  float: right;
}
#cssmenu:before,
#cssmenu:after,
#cssmenu > ul:before,
#cssmenu > ul:after {
  content: '';
  display: table;
}
#cssmenu:after,
#cssmenu > ul:after {
  clear: both;
}
#cssmenu {
  zoom: 1;
  height: 55px;
  background: url(images/bottom-bg.png) repeat-x center bottom;
  border-radius: 2px;
  width: 100%;
}
.top-header{
  top:0px;
  height: 5px !important;
}
#cssmenu ul {
  background: url(images/nav-bg.png) repeat-x 0px 3px;
  height: 50px;
  width: 100%;
}
#cssmenu ul li {
  float: right;
  list-style: none;
}
#cssmenu ul li a {
  display: block;
  height: 37px;
  padding: 22px 30px 0;
  margin: 4px 2px 0;
  border-radius: 2px 2px 0 0;
  text-decoration: none;
  font-size: 15px;
  color: white;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.75);
  font-weight: 400;
  opacity: .9;
}
#cssmenu ul li:first-child a {
  margin: 4px 2px 0 0;
}
#cssmenu ul li a:hover,
#cssmenu ul li.active a {
  background: url(images/color.png) center bottom;
  display: block;
  height: 40px;
  margin-top: 0px;
  padding-top: 19px;
  color: #580000;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.55);
  opacity: 1;
}

.nav-text{
  font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace !important;
  float:left !important;
  font-size: 6em;
  color: white;
}
.at{
  font-size: 2.8em;
  margin: 4px 0px 0px 0px !important;
  font-weight: bold
}
.forum{
   font-size: 2.8em;
  margin: 23px 0px 0px -2.8% !important
}
.search{
  float: left !important;
  margin: 10px 0px 0px 20px !important;
}
.foot{
  position: absolute !important;
  margin: -15px 0px 0px -3.1% !important;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *




 */


.user-image{
	width:100px;
	height:100px;
	border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  float:left;
}


.login {
  display: inline-block;
  margin: 100px 4% 80px 0px;
  float: right;
  padding: 20px 20px 20px;
  width: 310px;
  background: white;
  border-radius: 3px;
  -webkit-box-shadow: 0 .3em 1em #000 ;
  -moz-box-shadow: 0 .3em 1em #000;
  box-shadow: 0 .3em 1em #000;
}

.login h1 {
  margin: -20px -20px 21px;
  line-height: 40px;
  font-size: 15px;
  font-weight: bold;
  color: #555;
  text-align: center;
  text-shadow: 0 1px white;
  background: #f3f3f3;
  border-bottom: 1px solid #cfcfcf;
  border-radius: 3px 3px 0 0;
  background-image: -webkit-linear-gradient(top, whiteffd, #eef2f5);
  background-image: -moz-linear-gradient(top, whiteffd, #eef2f5);
  background-image: -o-linear-gradient(top, whiteffd, #eef2f5);
  background-image: linear-gradient(to bottom, whiteffd, #eef2f5);
  -webkit-box-shadow: 0 1px whitesmoke;
  box-shadow: 0 1px whitesmoke;
}
.login p {
  margin: 10px 0px 10px 0px;
}
.login p:first-child {
  margin-top: 0;
}
.login input[type=email], .login input[type=password] {
  width: 278px;
}
.login p.remember_me {
  float: left;
  line-height: 31px;
}
.login p.remember_me label {
  font-size: 12px;
  color: #777;
  cursor: pointer;
}
.login p.remember_me input {
  position: relative;
  bottom: 1px;
  margin-right: 4px;
  vertical-align: middle;
}
.login p.submit {
  text-align: right;
}

.login-help {
  margin: 20px 0;
  font-size: 11px;
  color: white;
  text-align: center;
  text-shadow: 0 1px #2a85a1;
}
.login-help a {
  color: #cce7fa;
  text-decoration: none;
}
.login-help a:hover {
  text-decoration: underline;
}

:-moz-placeholder {
  color: #c9c9c9 !important;
  font-size: 13px;
}

::-webkit-input-placeholder {
  color: #ccc;
  font-size: 13px;
}

input {
  font-family: 'Lucida Grande', Tahoma, Verdana, sans-serif;
  font-size: 14px;
}

input[type=email], input[type=password] {
  margin: 5px;
  padding: 0 10px;
  width: 278px !important;
  height: 34px;
  color: #404040;
  background: white;
  border: 1px solid;
  border-color: #c4c4c4 #d1d1d1 #d4d4d4;
  border-radius: 2px;
  outline: 5px solid #eff4f7;
  -moz-outline-radius: 3px;
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.12);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.12);
}
input[type=email]:focus, input[type=password]:focus {
  border-color: #7dc9e2;
  outline-color: #dceefc;
  outline-offset: 0;
}

.sign-in-but{
padding: 0px 40px;
height: 34px;
font-size: 12px;
font-weight: bold;
color: #415C63;
text-shadow: 0 1px #92D1D1;
background: #4D9AB9;
border: 1px solid;
border-color: #88BFC4 #7FA4BB #9eb9c2;
border-radius: 16px;
outline: 0;
-webkit-box-sizing: content-box;
-moz-box-sizing: content-box;
box-sizing: content-box;
background-image: -webkit-linear-gradient(top, #edf5f8, #cde5ef);
background-image: -moz-linear-gradient(top, #edf5f8, #cde5ef);
background-image: -o-linear-gradient(top, #edf5f8, #cde5ef);
background-image: linear-gradient(to bottom, #B7D1DB, #4D9DBE);
-webkit-box-shadow: inset 0 1px white, 0 1px 2px rgba(0, 0, 0, 0.15);
box-shadow: inset 0 1px white, 0 1px 2px rgba(0, 0, 0, 0.15);
margin: 20px 10px 20px 0px;

}
.sign-in-but:active {
  background: #cde5ef;
  border-color: #9eb9c2 #b3c0c8 #b4ccce;
  -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.2);
}

.lt-ie9 input[type=email], .lt-ie9 input[type=password] {
  line-height: 34px;
}

.username-text{
  margin: 5px;
  padding: 0 10px;
  width: 278px !important;
  height: 34px;
  color: #404040;
  background: white;
  border: 1px solid;
  border-color: #c4c4c4 #d1d1d1 #d4d4d4;
  border-radius: 2px;
  outline: 5px solid #eff4f7;
  -moz-outline-radius: 3px;
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.12);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.12);
}
.username-text:focus{
  border-color: #7dc9e2;
  outline-color: #dceefc;
  outline-offset: 0;
}




.sign-up{
padding: 0px 40px;
height: 34px;
font-size: 12px;
font-weight: bold;
color: #415C63;
text-shadow: 0 1px #92D1D1;
background: #4D9AB9;
border: 1px solid;
border-color: #88BFC4 #7FA4BB #9eb9c2;
border-radius: 16px;
outline: 0;
-webkit-box-sizing: content-box;
-moz-box-sizing: content-box;
box-sizing: content-box;
background-image: -webkit-linear-gradient(top, #edf5f8, #cde5ef);
background-image: -moz-linear-gradient(top, #edf5f8, #cde5ef);
background-image: -o-linear-gradient(top, #edf5f8, #cde5ef);
background-image: linear-gradient(to bottom, #B7D1DB, #4D9DBE);
-webkit-box-shadow: inset 0 1px white, 0 1px 2px rgba(0, 0, 0, 0.15);
box-shadow: inset 0 1px white, 0 1px 2px rgba(0, 0, 0, 0.15);
margin: 30px 10px 0px 0px;

}

.links{
	margin:10px 0px 0px 0px;
	padding: 15px 0px 0px;
	font-size:1.1em;
}
.welcome-cat{
	display: inline-block;
	float:left;
	margin: 80px 0px 111px 4%;
	color: #ffffff;
	width:49%;

}
.cat{
	height:400px;
	width:100%;
	display: inline-block;
}

.alert{
	font-size: 1.1em !important;
}
.alert-notice{
	font-size: 1.5em !important;
}

.cancel{
	margin:-48px 0px 0px 0px !important;
	background-color: #A80000 !important;
	-moz-border-radius: 18px !important; 
  -webkit-border-radius: 18px !important; 
  border-radius: 18px !important;
  width:55px;
  height:25px;
}


.pt-page-moveToLeft {
  -webkit-animation: moveToLeft .8s ease both;
  animation: moveToLeft .8s ease both;
}

@-webkit-keyframes moveToLeft {
  from { }
  to { -webkit-transform: translateX(-100%); }
}
@keyframes moveToLeft {
  from { }
  to { -webkit-transform: translateX(-100%); transform: translateX(-100%); }
}


.pt-page-moveFromRight {
  -webkit-animation: moveFromRight .6s ease both;
  animation: moveFromRight .6s ease both;
}

@-webkit-keyframes moveFromRight {
  from { -webkit-transform: translateX(100%); }
}
@keyframes moveFromRight {
  from { -webkit-transform: translateX(100%); transform: translateX(100%); }
}


/*user edit*/
.user-info{
  margin: 100px 0px 0px 4%;
  display: inline-block;
  font-size: 1.5em;
}
.userswords{
  margin: 100px 0px 20px -1%;
}
.qanda{
  font-size: 1.2em;
}
.count-cell{
  width: 20px;
  height:20px;
  background-color: #008000;
  color: #fff;
  padding:2px 8px 2px 8px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius:2px;
}
.sign-up-form{
margin: -350px 0px 0px 48%;
border-left: 1px solid #cfcfcf;
padding: 0px 0px 0px 45px;
}
.first-page{
  margin: 85px 0px 28px 17%;
  box-shadow: 0 .3em 1em #000;
  width: 800px;
  height: 430px;
  padding:50px 0px 0px 3%;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
}
.login-page{
  margin: 50px 10px 0px 10px;
}
.intro-sign{
  font-size: 1.8em;
}
.facebook-log{
width: 200px;
height: 37px;
margin-bottom: 10px;
border-radius: 4px;
}
.or-sign{
  font-size: 1.5em;
  margin: -47px 0px 0px 18%;

}
.logged_in{
  font-size: 1.5em;
  float:right;
}
