replied to
<% if activity.trackable %>
<%= link_to activity.trackable.new_thread.title, activity.trackable.new_thread %>&nbsp;&nbsp;<span class="count-cell"> +5 </span>
<% else %>
  which has since been removed 
<% end %>