<div class="icon-block"><span class="glyphicon glyphicon-comment"></span></div>
<div class="notify-block"><%= activity.owner.username %> replied to
<% if activity.trackable %>
  <%= link_to activity.trackable.new_thread.title, activity.trackable.new_thread %>
<% else %>
   a thread which has since been removed 
<% end %></div>
<div class="pull-left img-block"><%= image_tag activity.owner.image.url(:width => 50, :height => 50, :crop => :fill), :class=> "img-responsive" %></div>
<div class="pull-left content-block"><%= params[:summary].truncate(50) %></div>
