<div class="badges-wrapper">
   <h1 class="how-to">What are points/Badges? How can your earn or lose them?</h1>
     <p>
     	Points/Badges are rough measurement of how much the community trusts you; it is earned by convincing your peers that you know what you’re talking about. Basic use of the site, including asking questions, answering can help you earn them.<br>

        The primary way to gain reputation is by posting good questions and useful answers. Votes on these posts cause you to gain (or sometimes lose) reputation.
    </p>

    <h2 class="how-to">You gain points when:</h2>
     <ul class="earn-points">
     	<li>you answer a question: +5</li>
     	<li>question is liked: +15</li>
     	<li>answer is liked: +25</li>
     </ul>
     <h2 class="how-to">you lose points when:</h2>
      <ul class="earn-points">
      	<li>question is disliked: -10</li>
      	<Li>answer is disliked: -15</li>
      	<li>question is deleted: -20</li>
      	<li>answer is deleted: -20</li>
      </ul><br>
      <p>Be careful about what you are posting! If you get a lot of flagged and deleted replies and questions you may get blocked from site.<br>
       All users start with 100 point, and reputation can drop below 0. Liking your own reply or question does not gain you any points nor does replying to your own question. You can upgrade your badge by earning more and more points.
      </p>
      <h2 class="how-to">Badges List</h2>
      <ul class="earn-points">
      	<li> Below 200: Gungan</li>
      	<li> 200 - 399: EWOK</li>
        <li> 400 - 799: Wookiee</li>
        <li> 800 - 1599: Stormtrooper</li>
        <li> 1600 - 3199: Clone Caption</li>
        <li> 3200 - 4999: Clone Commander</li>
        <li> 5000 - 9999: Jedi Apprentice</li>
        <li> 10000 - 14999: Jedi</li>
        <li> 15000 - 19999: Jedi Knight</li>
        <li> 20000 - 29999: Jedi Master</li>
        <li> 30000 - 49999: Yoda</li>
        <li> Above 49999: The Chosen One</li>
      </ul>

</div>
