<div class="questions-wrapper">
  <h1 class= "how-to">How to ask question?</h1>
  	<hr>
  	<p>
  		Welcome to CAT Forum!

        We’d love to help you, but the reality is that not every question gets answered. To improve your chances, here are some tips:
    </p>
    <h2 class="how-to"><span class="circle1 how-c"></span>Search and Research</h2>
    <p>
    	Have you thoroughly searched for an answer before asking your question? Sharing your research helps everyone. Tell us what you found (on this site or elsewhere) and why it didn’t meet your needs. This demonstrates that you’ve taken the time to try to help yourself, it saves us from reiterating obvious answers, and above all, it helps you get a more specific and relevant answer!
    </p>
    <h2 class="how-to"><span class="circle1 how-c"></span>Be on-topic</h2>
    <p>
    	Our community is defined by a specific topics, avoid asking for opinions or open-ended discussion. If your question is about the site itself, write to MNTC.
    </p>
    <h2 class="how-to"><span class="circle1 how-c"></span>Be specific</h2>
    <p>
        If you ask a vague question, you’ll get a vague answer. But if you give us details and context, we can provide a useful, relevant answer.
    </p>
    <h2 class="how-to"><span class="circle1 how-c"></span>Make it relevant to others</h2>
    <p>
    	We like to help as many people at a time as we can. Make it clear how your question is relevant to more people than just you, and more of us will be interested in your question and willing to look into it.
    </p>
    <h2 class="how-to"><span class="circle1 how-c"></span>Keep an open mind</h2>
    <p>
    	The answer to your question may not always be the one you wanted, but that doesn’t mean it is wrong. A conclusive answer isn’t always possible. When in doubt, ask people to cite their sources, or to explain how/where they learned something. Even if we don’t agree with you, or tell you exactly what you wanted to hear, remember: we’re just trying to help.
    </p>
    <h1 class="how-to">All being said... Happy Asking!</h1>
</div>


</div>