<% @pageTitle = "Edit" + @new_thread.title + " | CAT Forum" %>
<% @PageDescription= @new_thread.description %>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <h2>Editing Thread</h2>

      <%= render 'form2' %>
    </div>
  </div>
</div>

<script>
  $(function() {
    $('#edit').froalaEditor()
  });
</script>
