<div class="post-thread">
	<p class="post-thread">
	Make sure you have read our <%= link_to "How to ask question", pages_question_path %> page before you ask questions.
    </p>
<h1 class="thread-header">New Thread :</h1>

<%= render 'form2' %>
</div>