<% @pageTitle = "Search Results | CAT Forum" %>
<% @PageDescription = "Search discussions in CAT Forum" %>
<div class="search-threads">
<%= link_to("<< Back to New Threads", {:controller => "new_threads", :action => 'index'}, :class => 'back-link') %>
<ul class="thumb-nails">
    <% @new_threads.each do |new_thread| %>
  <li><%= link_to new_thread.title, new_thread %></li>
   <% end %>
 </ul>
 <%= will_paginate @new_threads %>
</div>