# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.
defaults: &defaults
  cloud_name:
  cloud_api_key:
  cloud_api_secret:
  devise_key: '12345'
  fb_app:
  fb_secret:
  mailer_host:
  mailer_address:
  mailer_port:
  mailer_domain:
  mailer_username:
  mailer_password:
  secret_key_base: '12345'

development:
  <<: *defaults
  

test:
  <<: *defaults

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  <<: *defaults
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
