// Place all the styles related to the activities controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.activity {
  padding: 16px 0;
  em {
    color: #777;
   
    padding-left: 5px;
  }
   font-size: 1.4em;
}
.activity-wrapper{
	margin: 65px 0px 0px 4%;
	float:left;
}
.act-img{
	margin: 90px 0px 403px 40px
}
.user-name{
  margin: 70px 0px 0px -7.5%;
  float: left;
  font-size:1.5em;
}
.circle1 { 
   width: 10px;
   height: 10px;
   background: #909090; 
   -moz-border-radius: 5px; 
   -webkit-border-radius: 5px; 
   border-radius: 5px;
    position:absolute;
   margin: 3px 0px 0px -1.5%;

  
}