/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require styles
 *= require curtain
 */

.user-image{
	width:100px;
	height:100px;
	border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  float:left;
}
.notice-alert {
z-index: 10000;
margin: 6% 0% -2% 0%;
}


.login {
  display: inline-block;
  margin: 100px 4% 80px 0px;
  float: right;
  padding: 20px 20px 20px;
  width: 310px;
  background: white;
  border-radius: 3px;
  -webkit-box-shadow: 0 .3em 1em #000 ;
  -moz-box-shadow: 0 .3em 1em #000;
  box-shadow: 0 .3em 1em #000;
}

.login h1 {
  margin: -20px -20px 21px;
  line-height: 40px;
  font-size: 15px;
  font-weight: bold;
  color: #555;
  text-align: center;
  text-shadow: 0 1px white;
  background: #f3f3f3;
  border-bottom: 1px solid #cfcfcf;
  border-radius: 3px 3px 0 0;
  background-image: -webkit-linear-gradient(top, whiteffd, #eef2f5);
  background-image: -moz-linear-gradient(top, whiteffd, #eef2f5);
  background-image: -o-linear-gradient(top, whiteffd, #eef2f5);
  background-image: linear-gradient(to bottom, whiteffd, #eef2f5);
  -webkit-box-shadow: 0 1px whitesmoke;
  box-shadow: 0 1px whitesmoke;
}
.login p {
  margin: 10px 0px 10px 0px;
}
.login p:first-child {
  margin-top: 0;
}
.login input[type=email], .login input[type=password] {
  width: 278px;
}
.login p.remember_me {
  float: left;
  line-height: 31px;
}
.login p.remember_me label {
  font-size: 12px;
  color: #777;
  cursor: pointer;
}
.login p.remember_me input {
  position: relative;
  bottom: 1px;
  margin-right: 4px;
  vertical-align: middle;
}
.login p.submit {
  text-align: right;
}

.login-help {
  margin: 20px 0;
  font-size: 11px;
  color: white;
  text-align: center;
  text-shadow: 0 1px #2a85a1;
}
.login-help a {
  color: #cce7fa;
  text-decoration: none;
}
.login-help a:hover {
  text-decoration: underline;
}

:-moz-placeholder {
  color: #c9c9c9 !important;
  font-size: 13px;
}

::-webkit-input-placeholder {
  color: #ccc;
  font-size: 13px;
}

input {
  font-family: 'Lucida Grande', Tahoma, Verdana, sans-serif;
  font-size: 14px;
}

input[type=email], input[type=password] {
  margin: 5px;
  padding: 0 10px;
  width: 278px !important;
  height: 34px;
  color: #404040;
  background: white;
  border: 1px solid;
  border-color: #c4c4c4 #d1d1d1 #d4d4d4;
  border-radius: 2px;
  outline: 5px solid #eff4f7;
  -moz-outline-radius: 3px;
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.12);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.12);
}
input[type=email]:focus, input[type=password]:focus {
  border-color: #7dc9e2;
  outline-color: #dceefc;
  outline-offset: 0;
}

.sign-in-but{
padding: 0px 40px;
height: 34px;
font-size: 12px;
font-weight: bold;
color: #415C63;
text-shadow: 0 1px #92D1D1;
background: #4D9AB9;
border: 1px solid;
border-color: #88BFC4 #7FA4BB #9eb9c2;
border-radius: 16px;
outline: 0;
-webkit-box-sizing: content-box;
-moz-box-sizing: content-box;
box-sizing: content-box;
background-image: -webkit-linear-gradient(top, #edf5f8, #cde5ef);
background-image: -moz-linear-gradient(top, #edf5f8, #cde5ef);
background-image: -o-linear-gradient(top, #edf5f8, #cde5ef);
background-image: linear-gradient(to bottom, #B7D1DB, #4D9DBE);
-webkit-box-shadow: inset 0 1px white, 0 1px 2px rgba(0, 0, 0, 0.15);
box-shadow: inset 0 1px white, 0 1px 2px rgba(0, 0, 0, 0.15);
margin: 20px 10px 20px 0px;

}
.sign-in-but:active {
  background: #cde5ef;
  border-color: #9eb9c2 #b3c0c8 #b4ccce;
  -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.2);
}

.lt-ie9 input[type=email], .lt-ie9 input[type=password] {
  line-height: 34px;
}

.username-text{
  margin: 5px;
  padding: 0 10px;
  width: 278px !important;
  height: 34px;
  color: #404040;
  background: white;
  border: 1px solid;
  border-color: #c4c4c4 #d1d1d1 #d4d4d4;
  border-radius: 2px;
  outline: 5px solid #eff4f7;
  -moz-outline-radius: 3px;
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.12);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.12);
}
.username-text:focus{
  border-color: #7dc9e2;
  outline-color: #dceefc;
  outline-offset: 0;
}




.sign-up{
padding: 0px 40px;
height: 34px;
font-size: 12px;
font-weight: bold;
color: #415C63;
text-shadow: 0 1px #92D1D1;
background: #4D9AB9;
border: 1px solid;
border-color: #88BFC4 #7FA4BB #9eb9c2;
border-radius: 16px;
outline: 0;
-webkit-box-sizing: content-box;
-moz-box-sizing: content-box;
box-sizing: content-box;
background-image: -webkit-linear-gradient(top, #edf5f8, #cde5ef);
background-image: -moz-linear-gradient(top, #edf5f8, #cde5ef);
background-image: -o-linear-gradient(top, #edf5f8, #cde5ef);
background-image: linear-gradient(to bottom, #B7D1DB, #4D9DBE);
-webkit-box-shadow: inset 0 1px white, 0 1px 2px rgba(0, 0, 0, 0.15);
box-shadow: inset 0 1px white, 0 1px 2px rgba(0, 0, 0, 0.15);
margin: 30px 10px 0px 0px;

}

.links{
	margin:10px 0px 0px 0px;
	padding: 15px 0px 0px;
	font-size:1.1em;
}
.welcome-cat{
	display: inline-block;
	float:left;
	margin: 80px 0px 111px 4%;
	color: #ffffff;
	width:49%;

}
.cat{
	height:400px;
	width:100%;
	display: inline-block;
}

.alert{
	font-size: 1.1em !important;
}
.alert-notice{
	font-size: 1.5em !important;
}

.cancel{
	margin:-48px 0px 0px 0px !important;
	background-color: #A80000 !important;
	-moz-border-radius: 18px !important; 
  -webkit-border-radius: 18px !important; 
  border-radius: 18px !important;
  width:55px;
  height:25px;
}


.pt-page-moveToLeft {
  -webkit-animation: moveToLeft .8s ease both;
  animation: moveToLeft .8s ease both;
}

@-webkit-keyframes moveToLeft {
  from { }
  to { -webkit-transform: translateX(-100%); }
}
@keyframes moveToLeft {
  from { }
  to { -webkit-transform: translateX(-100%); transform: translateX(-100%); }
}


.pt-page-moveFromRight {
  -webkit-animation: moveFromRight .6s ease both;
  animation: moveFromRight .6s ease both;
}

@-webkit-keyframes moveFromRight {
  from { -webkit-transform: translateX(100%); }
}
@keyframes moveFromRight {
  from { -webkit-transform: translateX(100%); transform: translateX(100%); }
}


/*user edit*/
.user-info{
  margin: 100px 0px 0px 4%;
  display: inline-block;
  font-size: 1.5em;
}
.userswords{
  margin: 100px 0px 20px -1%;
}
.qanda{
  font-size: 1.2em;
}
.count-cell{
  width: 20px;
  height:20px;
  background-color: #008000;
  color: #fff;
  padding:2px 8px 2px 8px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius:2px;
}
.sign-up-form{
margin: -350px 0px 0px 48%;
border-left: 1px solid #cfcfcf;
padding: 0px 0px 0px 45px;
}
.first-page{
  margin: 8.5% 0px 28px 17.5%;
  box-shadow: 0 .3em 1em #000;
  width: 800px;
  height: 430px;
  padding:50px 0px 0px 3%;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
}
.login-page{
  margin: 50px 10px 0px 10px;
}
.intro-sign{
  font-size: 1.8em;
}
.facebook-log{
width: 200px;
height: 37px;
margin-bottom: 10px;
border-radius: 4px;
}
.or-sign{
  font-size: 1.5em;
  margin: -47px 0px 0px 18%;

}
.logged_in{
  font-size: 1.5em;
  float:right;
}

textarea {
white-space: pre-wrap;
}