html{
    height: 100%;
    overflow-x: hidden;
}

.curtains{
    width: 100%;
    position:relative;
   }

.curtains>li{
    -webkit-transform:translateZ(0);
    background: white;
    position: fixed;
    display:block;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100%;
    overflow: hidden;
    z-index:10;
}
.curtains>li.hidden{display:none;}
.curtains>li:first-child{z-index:2;}
#section-1{
     background:url(book1.jpg) 50% 0 no-repeat;
    background-size: 100% 655px;
}
 #section-1 header{
  font-family: Rockwell, "Courier Bold", Courier, Georgia, Times, "Times New Roman", serif;
  color : white;
  text-align:center;
   margin:50px 0px 0px 24%;
   display: inline-block;
   z-index:3;
   text-shadow: 
    0 1px 0 #909090,
    0 2px 0 #909090,
    0 3px 0 #909090,
    0 4px 0 #909090,
     3px 8px 15px rgba(0,0,0,0.1),
    3px 8px 5px rgba(0,0,0,0.3);;
    }

    #section-1 h1{
        font-size:120px;
    }

    #section-1 h2{
        opacity:.75;
    }
