// Place all the styles related to the flags controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.flags-wrapper{
	margin: 80px 0px 20px 2%;
	font-size: 1.7em;
}
.flag-header{
	font-size: 1.1em;
	font-weight: bold;
	border-bottom: 1px solid black;
	padding: 0px 5px 0px 5px;
}
td.destroy_flag{
	width: 100px;
    padding-right: 20px !important;
}
tr.destroy_flag{
	border-bottom: 1px solid black;
}
.search-wrapper{
	margin:100px 0px 580px 4%;
}
.blocked-wrapper{
	margin: 100px 0px 176px 4%;
}