#new_user {
	margin-bottom: 0;
}

#loginButton {
	float: right;
}

.sign-in-but {
	font-size: 1.2em;
	padding-left: 1em;
	padding-right: 1em;
	display: block;
}

.sign-up{
	font-size: 1.2em;
	padding-left: 1em;
	padding-right: 1em;
}

#fbLogin {
	display: block;
	width: 14em;
}

