// Place all the styles related to the NewThreads controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.line-up{
border: 0;
height: 2px;
background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(255,255,255,0.75), rgba(0,0,0,0));
background-image: -moz-linear-gradient(left, rgba(0,0,0,0), rgba(255,255,255,0.75), rgba(0,0,0,0));
background-image: -ms-linear-gradient(left, rgba(0,0,0,0), rgba(255,255,255,0.75), rgba(0,0,0,0));
background-image: -o-linear-gradient(left, rgba(0,0,0,0), rgba(255,255,255,0.75), rgba(0,0,0,0));

}

.line{
	border: 0;
height: 2px;
background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(255,255,255,0.75), rgba(0,0,0,0));
background-image: -moz-linear-gradient(left, rgba(0,0,0,0), rgba(255,255,255,0.75), rgba(0,0,0,0));
background-image: -ms-linear-gradient(left, rgba(0,0,0,0), rgba(255,255,255,0.75), rgba(0,0,0,0));
background-image: -o-linear-gradient(left, rgba(0,0,0,0), rgba(255,255,255,0.75), rgba(0,0,0,0));
  width: 52%;
}
.welcome{
	font-size:2.2em;
	font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
	margin: 100px 40px 20px 40px;
  float: left;
	text-align: center;
	color: #F8F8F8 ;

}
.welcome-text{
 margin: 0px 0px 0px 5%;
  width: 90%;

}
.cool-line {
         color: white;
         position: relative;
         width: 100%; height: 48px;
         overflow: hidden;
         margin: 0 auto;
         border: 0;
         -webkit-transform: rotate(180deg);
         -moz-transform: rotate(180deg); }
.cool-line:before {
         content: '';
         width: 90%; height: 30px;
         left: 5%; position: absolute; z-index: 50;
         border-radius: 0 0 100% 100% / 0 0 174% 174%;
         box-shadow: 0 0 9px 6px rgba(0, 0, 0, .28);
}

.power{
  float:left;
  font-size: 1.2em;
  color: white;
  margin: 0px 0px -20px -45px;
}
.mntc-logo{
  width: 100px;
  float:right;
  margin: 10px 0px 0px 0px;
  color:white;
}
.mntc-logo-pic{
  height: 100px;
  float: right;
}

.new{
    height: 25px;
    padding-top:8px !important;
    background-color:#000000 !important;
    text-shadow: 0 1px 0 #009933 !important;
	margin: 33px 10px 10px 40px !important;
	float: left !important;
}
.new:hover{background-color:#383838 !important;}
.thread-whole{
	font-size:1.5em;
	margin: 250px 20px 0px 40px;
  padding: 0px 0px 0px 0px;
	
}

.thread-welcome{
  color: #484848;
  text-align:left;
  margin: 10px 20px 0px 40px;
}
.recent{
  float:left;
  font-size: 2em;
  margin: 50px 0px 20px 40px;
  font-family: latoBlack, sans-serif;
  font-weight: bold;

}

.speech-bubble {
   -moz-border-radius: 10px; 
   -webkit-border-radius: 10px; 
   border-radius: 10px;
   margin: 0px 0px 0px 25px;
    display: inline-block;
    padding-left:2%;
   width:85%;
  border: 1px solid #d1d1d1;
  background-color: #ffffff ;
  
}

.triangle{
  height:30px;
  width:20px;
  margin: 15px 0px 0px 10px;
  float:left;
  position:absolute;
}

.user-thread{
  font-size:1.5em;
  color: black;
  float: right;
  display: inline-block;
  margin: -25px 10px 2px 0px;
}

td{
  font-size:1.3em !important;
  padding: 5px 5px 2px 5px !important;
}
.like{
  border-right: 1px solid #d1d1d1;
  padding: 0px 10px 0px 0px;
}
.like-bu{
  border: 0px;
  background-color: #ffffff ;
  font-family: "Lucida Sans Typewriter", "Lucida Console", Monaco, "Bitstream Vera Sans Mono", monospace;
  font-size:0.8em;
  color:#33CC33;
}
.like-bu:hover {text-decoration:underline;}
.flag-icon{
  color:#000000;
}
.dis{
  color:#C00000 !important;
}
.info{
  border-top: 1px solid #d1d1d1;
  margin-left: -2%;
}

.show-thread{
  font-size:1.4em;
  color: black;
  font-weight: bold;
   padding:15px 0px 0px 0px;
   float:left;

}
.show-thread:hover {color:#787878 ;}
.time{
  float:right;
   margin: 0px 15px 0px 0px;
}

.description{
   font-size:1.1em;
   color: black;
   padding:15px 0px 0px 0px;
   white-space: pre-wrap;
}


//replies css

.thread-replies{
  font-size:1.5em;
  margin: 130px 20px 40px 40px;
  
}

.thread-link{
  font-size:0.8em;
  color: #707070;
  float: right;
  margin: -20px 0px 10px 10px;
  padding: 0px 15px 0px 0px;
}

.activator{
  border-right: 1px solid #d1d1d1;
}
.activator-title{
  border-right: 1px solid #d1d1d1;
}
.reply-whole{
  font-size:1.5em;
  margin: 0px 0px 0px 150px;
}

.speech-reply{
   width:82% !important;
}

.reply-user{
   font-size:1.4em;
  color: black;
  font-weight: bold;
   padding:15px 0px 0px 0px;
   float:left;
}

.reply-link{
  color: #707070;
  font-size:0.8em;
   padding: 0px 15px 0px 0px;
}
.reply-edit{
  display: inline-block;
  float:right;
}
.reply-info{
  display: inline-block;
}

#reply_content{
  width:60%;
  height:100px;
 margin:30px 0px 30px 275px;
 display: inline-block;
 -moz-border-radius: 12px; 
   -webkit-border-radius: 12px; 
   border-radius: 12px;
}
.reply-but{
  font-size:2em;
  color: black;
  display: inline-block;
  margin: 0px 0px 30px 275px;
  background: #000000;
  color: #ffffff;
  -moz-border-radius: 8px; 
   -webkit-border-radius: 8px; 
   border-radius: 8px;

}

.thread-header{
   font-size:2em;
  color:#080808 ;
  margin:40px 0px 40px 2.2%;
  display: inline-block;
  ont-family: latoBlack, sans-serif;
font-weight: bold;
}

.reply-header{
   font-size:3em;
  color:#080808 ;
  margin:40px 0px 40px 50px;
}

.n-thread{
  font-size:2em;
  color:#080808;
  margin:20px 0px 0px 230px;

}

#new_thread_title{
width: 250%;
height: 25px;
font-size: 1em;
-moz-border-radius: 8px;
-webkit-border-radius: 8px;
border-radius: 8px;
}

#new_thread_description{
  width:70%;
  height:300px;
  font-size:1em;
  margin:10px 0px 0px 0px;
  -moz-border-radius: 12px; 
   -webkit-border-radius: 12px; 
   border-radius: 12px;
}

.post{
  margin:20px 0px 30px 62% !important;
  width:100px;
}

.no-reply{
  display: inline-block;
  font-size: 1.9em;
  margin:0px 0px 0px 10px;
  font-family: serif;
font-style: italic;
}

#section-2{
  background-color: #ffffff !important;
}

.other-user{
 margin:15px 25px 0px 0px !important;
}
.other-img{
  margin: 13px 10px 0px 0px !important;
}
.user-tag{
width: 20px;
height: 31px;
margin: -10px 10px -7px 0px;
}
.tag{
  background-color:  #333;
  font-size: 0.6em;
  padding: 3px 5px 4px 5px;
  display: inline-block;
  color: #fff;
  border-radius: 2px 0px 0px 2px;
  margin-right: -2px;
}
.td-tag2{
  padding:0px !important;
}
.td-tag{
  padding:0px !important;
}
.table-tag{
  display: inline-block;
  margin: -9px -4px -2px 0px;
}

.post-thread{
  margin: 80px 0px 0px 30px;
}
p.post-thread{
  font-size: 1.8em;
}
.new-form{
  width: 70% !important;
}







p.welcome.thread-welcome {
font-family: serif;
font-style: italic;
font-size: 2em;
}

.search-threads {
font-size: 1.6em;
margin: 8% 0% 0% 2%;
min-height: 518px;
}

ul.thumb-nails {
list-style-type: circle;
margin: 3% 0% 0% 3%;
}

textarea{
  width: 80%;
}