.how-to{
  margin: 20px 0px 10px 0px;
  font-weight: bold; 
  color: #404040 ;
}

.earn-points{
  list-style-type: square;
}

.badges-list .row{
  padding-top: 10px;
  padding-bottom: 10px;
  border-top: 1px solid #e2e2e2;
}

.tag{
  background-color: #333;
  font-size: 14px;
  padding: 4px 5px 4px 5px;
  display: inline-block;
  color: #fff;
  border-radius: 5px 0px 0px 5px;
}

.tag-img{
  margin-top: -9px;
}
