// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.questions-wrapper, .badges-wrapper{
  margin: 100px 3% 40px 3%;
  font-size: 1.7em !important;
	
}
.how-to{
	margin: 20px 0px 10px 0px;
	font-size: 1.3em; 
	color: #404040 ;
}
.how-c{
	margin: 6px 0px 0px -1.2% !important;
}
.earn-points{
	list-style-type: square;
	margin-left: 2%;
}