//resetting defaults

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}



//css for page


body {
    color: #666;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-size:62.5%;
}



h2.mntc{
  
 font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
 color : white;
 font-size:2.8em;
 letter-spacing:17px;
 margin: 0px 0px 0px 20px;
}

.icon{
  margin: 45px 0px 0px 45px;
  
}


.circle2 { 
   width: 160px;
   height: 160px;
   background: #808080  ; 
   -moz-border-radius: 80px; 
   -webkit-border-radius: 80px; 
   border-radius: 80px;
  z-index : 2;
   position:absolute;
   margin: 35px 0px 0px 35px;

}
.circle3 { 
   width: 200px;
   height: 200px;
   background: #F0F0F0; 
   -moz-border-radius: 100px; 
   -webkit-border-radius: 100px; 
   border-radius: 100px;
  z-index : 1;
   position:absolute;
   margin: 15px 0px 0px 15px;

}

.cap{
  z-index : 5;
  position:absolute;
  margin: 40px 0px 0px 35px;
  }


.big-wrapper{
  background-color:#F8F8F8;
  width: 100%;
  float: left;
}

#header{
  background-color:#E0E0E0;
  width: 100%;
  height: 40px;
  border-bottom: 2px solid #b0b0b0;
  border-top: 2px solid #b0b0b0;
  position: fixed;
  z-index:2;
  top:0px;
  right:0px;
}

.navbar-link{
  color: white;
  text-decoration: none;
  float:right;
  margin: 8px 10px 10px 10px;
  text-shadow: 0 1px 0 #080808;
  background-color: #a0a0a0;
  border-color: #300000;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  font-size:1.8em;
  padding: 2px 10px 2px 10px;

}

.other{
  background-color: #505050;

}

.user{
  font-size:2.5em;
  color: black;
  float: right;
  margin: 18px 20px 10px 0px;
}


.user-img{
 width: 32px;
 height: 28px;
 border-radius: 3px;
 float:right;
 margin:18px 0.5% 0px 0px;
}


.navbar-bar{
  font-size:2em;
  color: black;
  float: left;
  margin: 0px 10px 10px 10px;
}
.navbar-bar:hover {color:#787878 ;}

.search{
  width:200px;
  height: 30px;
  display: inline-block;
  float: left;
  margin: -5px 10px 0px 10px;
}
#search {

}

#search input[type="text"] {
    background: url(search.png) no-repeat 10px 6px #fcfcfc;
    background-size: 15px 15px;
    border: 1px solid #d1d1d1;
    font: bold 12px Arial,Helvetica,Sans-serif;
    color: #bebebe;
    width: 150px;
    padding: 6px 15px 6px 35px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    text-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
    -webkit-transition: all 0.7s ease 0s;
    -moz-transition: all 0.7s ease 0s;
    -o-transition: all 0.7s ease 0s;
    transition: all 0.7s ease 0s;
    }

#search input[type="text"]:focus {
    width: 200px;
    }


#footer{
  width: 100%;
  height: 40px;
  float:left;
  position: absolute;
}
.all-foot{
  z-index: 0 !important;
   position: relative !important;
   height: 63px !important;
}
.u-list{
  height:58px !important;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}



#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
  width: 100%;
}

#error_explanation {
  width: 98%;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}
div.pagination {
  font-size: 1.2em;
  font-family: Tahoma, Arial, Helvetica, Sans-serif;
  background-color:#3e3e3e;
  color: #fff;
  height:40px;
  padding:3px 0px 8px 10px;
  width: 104%;
  margin: -20px 0px 0px -40px;
}

div.pagination a {
  padding: 2px 5px 2px 5px;
  margin: 2px;
  background-color:#3e3e3e;
  text-decoration: none; /* no underline */
  color: #fff;
  font-size:1.2em;
}
div.pagination a:hover, div.pagination a:active {
  background-color:#ec5210;
  color: #fff;
}
div.pagination span.current {
  padding: 2px 5px 2px 5px;
  margin: 2px;
    font-weight: bold;
    background-color: #313131;
    color: #fff;
  }
div.pagination span.disabled {
    padding: 2px 5px 2px 5px;
    margin: 2px;
    background-color:#3e3e3e;
    color: #868686;
  }

.page_info{
  height:20px;
  font-size:1em;
  padding:3px 0px 0px 10px
  
}

.alert{
  font-size:1em;
  text-align: center;
}
 

