.hvr-underline-from-center {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23), 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  overflow: hidden;
}

.hvr-underline-from-center:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 50%;
  right: 50%;
  bottom: 0;
  background: #104C68;
  height: 4px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
}

.hvr-underline-from-center:hover:before, .hvr-underline-from-center:focus:before, .hvr-underline-from-center:active:before {
  left: 0;
  right: 0;
}

.thread-card{
  background: #fff;
  //border: 2px solid black;
  padding: 2em;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  margin-bottom: 1.2em;
  transition: all 0.5s ease;
  &:hover{
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 12px rgba(0,0,0,0.40);
  }
}

.thread-user-image{
  width: 4em;
  height: 4em;
  float: left;
  margin-right: 1em;
}

.thread-title{
  font-size: 1.4em;
  a {
    transition: all 0.5s ease;
    font-size: 1.4em;
    text-decoration: none;
  }
}

.thread-description{
  text-align: justify;
}

.thread-foot {
  box-shadow: 0 -4px 3px -5px black;
  display: block;
  margin-top: 1em;
  overflow: auto;
  padding-top: 1em;
}

.thread-icons{
  transition: all 0.5s ease;
  *{
    transition: all 0.5s ease;
  }

  float: right;
  font-size: 1.2em;
  border: 1px solid #B6B6B6;
  margin: .1em;
  padding: .1em;
  border-radius: .14em;

  a{  
    text-decoration: none;
    :hover{
      text-decoration: none;
    }
  }

  button{
    background: transparent;
    border: none;
    margin: none;
    padding: none;
    float: left;
  }

  form{
    float: left;
  }

  .fa-thumbs-o-up {
    color: #4DA64D;
  }

  .fa-thumbs-o-down {
    color: #FF6666;
  }

  .fa-flag {
    color: #0000FF;
  }

  .like-count, .dislike-count, .flag-count {
    float: right;
    font-size: 1em;
    margin: 0 0.2em 0 0;
    padding: 0;
    margin-left: .4em;
  }

  &:hover{
    box-shadow: 0 0 5px -3px blue inset;
    //background: darken(#fff, 6%);
    border: 1px solid #6D6D6D;

    .fa-thumbs-o-up{
      color: darken(#4DA64D, 20%);
    }

    .fa-thumbs-o-down{
      color: desaturate(darken(#FF6666, 20%), 20%);
    }
  }
}


#new-thread-button {
  transition: all 0.3s ease;
  * {
    transition: all 0.3s ease;
  }

  position: fixed;
  top: 4.4em;
  right: 1em;
  z-index: 100;

  a{
    color: #fff;
    text-decoration: none;
  }
}

#infscr-loading{
  * {
    display: none;
  }

  display: none;
}

.pagination{
  /*display: none;*/
}

.thread-info{
  display: inline-block;
}

.fa-clock-o {
  padding-right: 0.3em;
}
