<% @pageTitle = "Activities of " + current_user.username + " | CAT Forum" %>
<div class="container">
  <h1>Activity Feed</h1>
  <hr />
  <% @activities.each do |activity| %>
    <div class="row">
      <div class="col-xs-12 activity-grid">
        <div class="time-block"><%= time_ago_in_words activity.created_at %></div>
        <%= render_activity activity %>
      </div>
    </div>
  <% end %>
</div>
