likes your reply in thread
<% if activity.trackable %>
<%= link_to activity.trackable.reply.new_thread.title, activity.trackable.reply.new_thread %>&nbsp;&nbsp;<span class="count-cell"> +25 </span>
<% else %>
  which has since been removed 
<% end %>