<% @pageTitle = "Signup | CAT Forum" %>
<% @PageDescription = "Signup in CAT Forum to explore more." %>
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-offset-2 col-md-8 col-lg-offset-2 col-lg-8">
      <div class="thread-card">
        <h1>Sign up</h1>
        <div class="alert alert-danger"><%= devise_error_messages! %></div>
        <%= render :partial => "users/registrations/new"%>
      </div>
    </div>
  </div>
</div>
